<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Background generator</title>
        <link rel="stylesheet" href="Semantic-UI-CSS/semantic.min.css">
        <link rel="icon" href="icon.png" type="image/png">
        <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="state.js"></script>
        <script src="generator.js"></script>
    </head>
    <body>
        <main>
            <h1>Background generator</h1>
        </main>
        <div id="interface">
            <h3>Colors</h3>
            <div v-for="color in state.colors" class="ui input">
                <input type="checkbox" v-model="color.active" :checked="color.active"></input>
                <input type="text" v-model="color.value" :value="color.value"></input>
                <br>
            </div>
            <h3>Blocks</h3>
            <label>Amount
            <input type="number" v-model="state.blockAmount" min=0 max=1000></input>
            </label>
            <label>
            <h3>Size</h3>
            <label>Width
            <input type="number" v-model="state.width"></input>
            </label>
            <label>Height
            <input type="number" v-model="state.height"></input>
            </label>
            <button onclick="next()" class="ui button">Update</button>
            <button onclick="save('background.png')" class="ui button">Download</button>
        </div>
        <script src="interface.js"></script>
    </body>
</html>
