#generator-container canvas {
    height: auto;
    width: 70%;
}

.color-indicator {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto 0.4rem;
    border-radius: 100%;
}

input[type=text] {
    width: 7rem;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

#main {
    display: none;
}
